@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "poppins";
}
body {
  width: max-content;
  min-width: 100vw;
}

.spinner {
  width: 80px;
  height: 80px;
  border: 16px solid #dde2fc;
  border-top: 16px solid white;
  border-radius: 50%;
}
.spin {
  animation: spinner 1.5s linear infinite;
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
